apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ryuzu-portfolio-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'git@github.com:Y-RyuZU/ReactPortfolio.git'
    targetRevision: main
    path: 'infra/k8s'
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
